* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas-container {
  height: 600px;
  width: 600px;

  margin: auto;
}

#myCanvas {
  height: 50%;
  width: 100%;
}
.chartjs-size-monitor {
  width: 300px;
text-transform:

}
.canvas-mild{
  height: 50%;


 margin-top: 50px;
text-transform:
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.canvas-mild *{
width: 300px;
}

.canvas-mild > canvas#myCanvas2 {
  width: 300px;
}

.canvas-mild > canvas#myCanvas3 {
width: 300px;
}
