* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas-container {

  height: 400px;
  width: 400px;

  margin: auto;
}

#myCanvas {
  height: 50%;
  width: 100%;
}
.canvas-down {
  height: 50%;
  width: 100%;
  display: flex;
  margin-top: 50px;
}

#myCanvas2 {
  height: 50%;
  width: 50%;
}

#myCanvas3 {
  height: 50%;
  width: 50%;
}
